* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100vw;
    height: 100vh;
}

.card {
    background-color: rgba(255,255,255, 0.5);
    backdrop-filter: blur(20px);
    margin: auto;
    border-radius: 20px;
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
}

.card-body {
    position: relative;
}

.layer {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.card-text,
.card-title,
.btn {
    transition: 0.5s;
}

/* .card:hover .layer {
    margin-top: 0;
    opacity: 1;
} */

/* 
.card:hover .card-text, .card:hover .card-title, .card:hover .btn {
    opacity: 0;
} */

.hidden {
   opacity: 0;
}

.active {
    opacity: 1;
}

.btn {
    border-radius: 8px;
}